.infoBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #333;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
