.messageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #333;
}

.messageText {
  font-size: 16px;
  color: #333;
}
.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #333;
}

.sentText {
  font-size: 14px;
  color: #666;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: #f3f3f3;
}
