.logSignContainer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  gap: 1rem;
}

.logo{
  width: 3rem;
  animation: rotate infinite 14s linear;          
}

.formsContainer{
  display: flex;
  flex-flow: row nowrap;  
  gap: 1rem;  
}

.logSingForms{
 display: flex;
 flex-flow: column nowrap;
}

.logSignInputs{
  padding: 0.3rem 0.6rem;    
}
.logSignInputs:focus{
outline: none;
}
.logSignBtn{
  background-color: #10a37F;
  color: white;     
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-weight: bolder;
  border: none;
}
.logSignBtn:hover{
  color: black;
}


@keyframes rotate {
from {
  transform: rotateZ(0deg);
}
to {
  transform: rotateZ(360deg);
}
}