/* Input.css */

.form {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.sendButton {
  background-color: #2979FF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #2962FF;
}
