.roomUl{
    width: 15rem;
    min-height: 80vh;
    background-color: #202123;
    color: white;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
    overflow-y: auto;
  }
  
  /* INICIO CREAR SALA Y HOME */
  
  
  .createRoomBtn{
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #262728;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  width: 14rem;
  height: 3.5rem;
  border: none;
  font-size: large;
  font-weight: bold;
  }
  
  .homeBtn{
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color: white;
  background-color: #262728;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  width: 12rem;
  height: 2.5rem;
  border: none;
  font-size: large;
  font-weight: bold;
  }
  
  .homeBtn:hover{
    cursor: pointer;
    background-color: #2d2d2f
  }
  
  .homeImg{
    height: 1.3rem;
    margin-left: 0.8rem;
  }
  
  .crearSalaBtn:hover{
    cursor: pointer;
    background-color: #2d2d2f
  }
  /* FIN CREAR SALA Y HOME */
  .roomLi{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 12rem;     
    list-style: none; 
    background-color: #262728;
    border: 4px;
    cursor: pointer;
  }
  .roomLi:hover{
    background-color: #2d2d2f
  }
  .imgPContainer{
    display: flex;
    flex-flow: row nowrap;
  }
  .roomLink{
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  justify-content: space-between;
  text-decoration: none;
  color: white;
  background-color: none;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  width: 12rem;
  cursor: pointer;
  }
  
  .roomLink P{
    align-self: center;
  }
  
  .roomLogo{
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0 2px 0 0;
  }
  
  .deleteBtn{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: inherit;
    border: none;
  }
  
  .binLogo{ 
    width: 2rem;
    /* height: 1.3rem; */
    background-color: none;
    backface-visibility: hidden;
    cursor: pointer;
  
  }