.msgContainer{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;    
  }
  
  .topBoxContainer{
    padding: 4.8px 8px;
    background-color: #202123;
    height: 5rem;
  }
  
  .topBox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;  
    padding: 0.5rem 1rem;
    background-color: #262728;
    color: #10A37F;
    height: 2.5rem;
    margin-top: 0.2rem;
    border-radius: 4px;
  }
  
  .titleContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .preTitle{
    color: white;
  }
  
  .roomTitle{
    text-align: center;
    width: fit-content;  
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 0.5rem;
  }
  
  .logoutBtn{
    border: none;
    background-color: #262728;
    cursor: pointer;
  }
  
  .logoutImg{
    height: 1.5rem;
  }
  
  .msgUl{
   height: 100%; 
   list-style: none;
   padding: 1rem;
   margin: 0;
   overflow-y: scroll;
  scroll-snap-align: end;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  background-image: url('../../img/backgroundImg.jpg');
  opacity: 75%;
  
  }
  .msgLi{
    border-radius: 4px;
    width: 90%;
  }
  
  .myMsg{
    text-align: right;
    background-color: #baeadd;
  }
  
  .theirMsg{
    text-align: left;
    background-color: #e7f3f0;
  }
  
  .msgOwner{
    padding: 0.2rem 1rem;
    margin: 0;
    font-style: italic;
    color: #10A37F;
    font-weight: bold;
  }
  
  .msgText{
    padding: 0.2rem 1rem;
    margin: 0;
    font-weight: bold;
  }
  
  /* WELCOME MODAL */
  .welcomeModalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 2rem;
    position: absolute;
    bottom: 10.5%;
    left: 50%;
    background-color: white;
    padding: 1px 4px;
    border-radius: 4px 4px 0px 0px;
  }
  .welcomeModalMessage{
    color: #10A37F;
    font-weight: bold;  
  }